name: PR Coverage Check

on:
  pull_request:
    branches:
      - main
  pull_request_target:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=$PWD/src" >> $GITHUB_ENV

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run unittests with coverage
      run: |
        echo "PYTHONPATH=$PWD/src" >> $GITHUB_ENV
        coverage run --rcfile=.coveragerc -m unittest discover -s tests
        coverage xml

    - name: Print coverage report for forked repositories
      if: github.event.pull_request.head.repo.full_name != github.repository
      run: |
        echo "Coverage report is not available for forked repositories."
        coverage report -m

    - name: Comment PR with coverage
      if: github.event.pull_request.head.repo.full_name == github.repository
      uses: orgoro/coverage@v3.2
      with:
        coverageFile: coverage.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        thresholdNew: 1.0
        thresholdAll: 1.0
        thresholdModified: 1.0